<center><h2>アプリ名</h2></center>

<div class="container today-info">
  <span class="box-title">地震情報</span>
  <% @informations.each do |information| %>
    <% if earthquakewarning(information.scale) %>
      <p class="warning"><%= information.disastertime %>&nbsp;&nbsp;&nbsp;&nbsp;<%= information.location %>で地震が発生しました!&nbsp;&nbsp;&nbsp;&nbsp;<%= earthquakescale(information.scale) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= tsunamiscale(information.tsunami)  %></p>
    <% else  %>
      <p><%= information.disastertime %>&nbsp;&nbsp;&nbsp;&nbsp;<%= information.location %>で地震が発生しました!&nbsp;&nbsp;&nbsp;&nbsp;<%= earthquakescale(information.scale) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= tsunamiscale(information.tsunami) %></p>
    <% end  %>
  <% end %>
    
</div>

<div id='map' class="container" ></div>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 38.5, lng: 140},
  zoom: 5.3
  });
  
  //複数マーカー ここから
  <% @informations.each do |information| %>
    <% unless information.latitude == nil || information.longitude == nil %>
      (function(){
        var contentString = "住所：<%= information.location %>"; 
        var infowindow = new google.maps.InfoWindow({
            content: contentString
      });

        var marker = new google.maps.Marker({
          position:{lat: <%= information.latitude %>, lng: <%= information.longitude %>},
          map: map,
          title: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker, content);
          });
        })();
    <% end %>
  <% end %>
  //複数マーカー ここまで  
}
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-6 building-info">
      <span class="box-title">地震範囲に含まれる建築物</span>
      <p>建築物A　クリックすると詳細ページに移動</p>
      <p>建築物B　クリックすると詳細ページに移動</p>
      <p>建築物C　クリックすると詳細ページに移動</p>
      <p>建築物D　クリックすると詳細ページに移動</p>
      <p>建築物E　クリックすると詳細ページに移動</p>
      <p>建築物F　クリックすると詳細ページに移動</p>
    </div>  
    <div class="col-md-12 col-lg-6 building-info">
      <span class="box-title">全ての建築物<i class="fas fa-external-link-alt ml-2"></i></span>
      <h5>北海道</h5>
      <p>建築物A　クリックすると詳細ページに移動</p>
      <h5>青森</h5>
      <p>建築物B　クリックすると詳細ページに移動</p>
      <h5>岩手</h5>
      <p>建築物C　クリックすると詳細ページに移動</p>
      <h5>秋田</h5>
      <p>建築物D　クリックすると詳細ページに移動</p>
      <h5>山形</h5>
      <p>建築物E　クリックすると詳細ページに移動</p>
    </div>  
  </div>
</div>











<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_KEY']  %>&callback=initMap" async defer></script>